<style>
    .list_h:hover {
        background: #9933CC;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12" style="text-align: center; padding: 10px 0;">
        {{mainS.someData.name}}
    </div>
    <!-- <div class="col-md-5">
        <img src="{{imgPath}}" style="text-align: center; height: 500px;">
    </div> -->
    <div class="col-md-12" style="text-align: center;">
        <a *ngFor="let im of list; let i=index" [ngStyle]="{'background':(imgPath==im.path)?'violet':''}" class="col-md-12 list_h"
            style="padding: 10px 0px;" target="_blank" [routerLink]="['/about', i]">
            <!-- (click)="selectImg(i)" -->
            {{im.name}}
        </a>
    </div>
</div>